@media screen and (min-width: 450px){
  html{
    scroll-behavior: smooth;
  }
  body, #england-back, #sf-back, #pitt-back, #home-back{
    color: #2E2E2E;
    font-size: 10px;
    position: relative;
    text-align: justify;
    font-family: sans-serif;
    background: #b7bfae;
  }
  /* Nav Bar using Flex*/
  header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  nav{
    text-align: left;
    padding: 10px;
    width: 100%;
    background-color: #000000;
  }
  nav a{
    color: #C0C0C0;
    text-decoration: none;
  }
  nav a:hover{
    font-weight: bold;
    color: #C0C0C0;
  }
  nav li{
    padding: 2px 2px 2px 2px;
  }
  .nav_links{
    margin: 0;
    padding: 0;
    color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .nav_links #current-page{
    font-weight: bold;
    color: #ffffff;
    border: 2px solid white;
  }
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  .skip a:focus{
    top:5px;
    color: black;
    text-decoration-style: solid;
  }
  /* H's and Paragraphs */
  h1, h2{
    text-align: center;
    font-size: 25px;
    padding-top: 20px
  }
  h1{
    text-shadow: 5px 5px 2px #ffffff;
  }
  p{
    font-size: 15px;
    text-align: center;
    padding: 20px;
  }
  /*Text Links*/
  a{
    color: #0000FF;
  }
  a:hover{
    font-weight: bold;
    text-decoration: underline;
  }
  /*Footer*/
  footer{
    position: fixed-bottom;
    width: 100%;
    background-color: #000000;
  }
  footer p{
    color: #ffffff;
    text-align: center;
  }
  footer a{
    color: #ffffff;
    text-decoration: none;
  }
  /* Hover effect for Main Content on all pages */
  .main:hover, .uk-main:hover, .pitt2017:hover, .pitt2018:hover, .contact-main:hover{
    padding: 5px;
    background:rgba(105, 99, 99, .3);
    border: 3px solid #ffffff;
  }
  /* Images for Home, England, and San Francisco pages */
  .home img, .england-container img, .sf img{
    display: block;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 10px;
  }
  /* Opacity effect for images on Pittsburgh page */
  .pitt-container img{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    width: 200px;
  }
  .pitt-container img:hover{
    opacity: 0.5;
  }
  /* Grid for Pittsburgh page */
  .pitt-container{
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-content: center;
    padding-bottom: 5px;
  }
  .pitt-container img{
    margin: 0 auto;
  }
  .pitt2017{
    grid-row: 1;
  }
  .pitt-container img:nth-child(4){
    grid-row: 2;
  }
  .pitt-container img:nth-child(3){
    grid-row: 3;
  }
  .pitt-container img:nth-child(5){
    grid-row: 4;
  }
  .pitt-container img:nth-child(9){
    grid-row: 5;
  }
  .pitt2018{
    grid-row: 6;
  }
  .pitt-container img:nth-child(8){
    grid-row: 7;
  }
  .pitt-container img:nth-child(7){
    grid-row: 8;
  }
  .pitt-container img:nth-child(10){
    grid-row: 9;
  }
  .pitt-container img:nth-child(11){
    grid-row: 10;
  }
  .pitt-container img:nth-child(6){
    grid-row: 11;
  }
  /* Grid for England page */
  .england-container{
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    justify-content: center;
    align-content: center;
    padding-bottom: 5px;
  }
  .uk-main{
    grid-row: 1;
  }
  .england-container img:nth-child(2){
    grid-row: 2;
  }
  .england-container img:nth-child(3){
    grid-row: 3;
  }
  .england-container img:nth-child(4){
    grid-row: 4;
  }
  *:focus{
    border: 2px solid white;
  }
  /* "Swing" effect for logo on home page*/
  /* Citation: https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
  @-webkit-keyframes swing{
    15%{
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    30%{
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    50%{
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    65%{
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    80%{
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    100%{
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes swing{
    15%{
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    30%{
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    50%{
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    65%{
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    80%{
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    100%{
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  #logo{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  /* Flip Card for home page */
  /* Citation: https://www.w3schools.com/howto/howto_css_flip_card.asp */
  .home-flip-front img{
    width: 200px;
    height: 200px;
  }
  .home-flip {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    perspective: 1000px;
  }
  .home-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    cursor: pointer;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .home-flip:hover .home-flip-inner, .home-flip-inner:focus{
    transform: rotateY(180deg);
  }
  .home-flip-front, .home-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .home-flip-front {
    background-color: #bbb;
    color: black;
  }
  .home-flip-back {
    background-color: #f0f0f0;
    color: #2E2E2E;
    transform: rotateY(180deg);
  }
  /* Contact form page */
  #contact-back{
    background: #000000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url("../contact-images/me.jpg");
    background-repeat: no-repeat;
  }
  form{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  form label{
    font-size: 20px;
    font-weight: bold;
  }
  input{
  background:#FFFFFF;
  width: 200px;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  outline-color: #ffffff;
  text-align: left;
  }
  fieldset div{
   border: 2px solid white;
   margin: 2%;
   padding: 1%;
   border-radius: 5px;
  }
  input[type=submit]{
    border: 2px solid black;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  input:focus{
    background: #C0C0C0;
  }
}
/*Media Queries*/
@media screen and (min-width: 750px){
  body, #england-back, #sf-back, #pitt-back, #home-back{
    font-size: 20px;
    background: #f0f0f0;
  }
  /* Nav Bar using Flex */
  nav{
    padding: 20px;
  }
  nav a{
    color: #b7bfae;
  }
  nav a:hover{
    color: #b7bfae;
  }
  nav li{
    padding: 5px 5px 5px 5px;
  }
  .nav_links{
    display: inline-flex;
    flex-direction: row;
  }
  .nav_links #current-page{
    font-weight: bold;
    color: #a6a6a6;
    border: 2px solid #a6a6a6;
  }
  /* H's and Paragraphs */
  h1{
    text-shadow: 5px 5px 2px #99a090;
  }
  p{
    font-size: 15px;
  }
  /* Hover effect for main content on all pages */
  .main:hover, .uk-main:hover, .pitt2017:hover, .pitt2018:hover, .contact-main:hover{
    background: rgba(183,191,174, .7);
    border: 5px solid #C0C0C0;
  }
  /* Images for Home, England, and San Francisco pages */
  .home img, .england-container img, .sf img{
    width: 300px;
  }
  /* Opacity effect for images on Pittsburgh page */
  .pitt-container img{
    border: 5px solid #a1a899;
    width: 300px;
  }
  /* Grid for Pittsburgh page */
  .pitt-container{
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto auto;
    padding-bottom: 10px;
  }
  .pitt2017{
    grid-column: 1;
    grid-row: 1;
  }
  .pitt-container img:nth-child(5){
    grid-column: 1;
    grid-row: 2;
  }
  .pitt-container img:nth-child(10){
    grid-column: 1;
    grid-row: 3;
  }
  .pitt-container img:nth-child(3){
    grid-column: 1;
    grid-row: 4;
  }
  .pitt-container img:nth-child(4){
   grid-column: 1;
    grid-row: 5;
  }
  .pitt2018{
    grid-column: 2;
    grid-row: 1;
  }
  .pitt-container img:nth-child(7){
    grid-column: 2;
    grid-row: 2;
  }
  .pitt-container img:nth-child(9){
    grid-column: 2;
    grid-row: 3;
  }
  .pitt-container img:nth-child(11){
    grid-column: 2;
    grid-row: 4;
  }
  .pitt-container img:nth-child(8){
    grid-column: 2;
    grid-row: 5;
  }
  .pitt-container img:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 6;
  }
  /* Grid for England page */
  .england-container{
      grid-row-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto auto;
  }
  .england-container img{
    padding: 10px;
  }
  .uk-main{
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .england-container img:nth-child(4){
    grid-column: 2;
    grid-row: 1;
  }
  .england-container img:nth-child(2){
    grid-column: 2;
    grid-row: 2;
  }
  .england-container img:nth-child(3){
    grid-column: 2;
    grid-row: 3;
  }
  /* "Rotate" effect for logo on Home Page */
  /* Citation: https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
  #logo{
    width: 150px;
    -webkit-animation: none;
    animation: none;
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }
  #logo:hover{
    -webkit-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  /* Flip Card */
  .home-flip-front img{
    width: 300px;
    height: 300px;
  }
  .home-flip {
    width: 300px;
    height: 300px;
  }
  .home-flip-back {
    background-color: #C0C0C0;
    color: #2E2E2E;
  }
  /* Contact form page */
  form{
    width: 500px;
  }
  input{
  width: 425px;
  border: 2px solid black;
  }
  fieldset div{
   border: 2px solid black;
  }
  input:focus{
    background: #b7bfae;
  }
}
/* Desktop */
@media screen and (min-width: 1100px){
  body, #england-back, #sf-back, #pitt-back, #home-back{
    font-size: 25px;
    background: #C0C0C0;
  }
  /* Nav Bar using Flex */
  nav a{
    color: #ffffff;
  }
  nav a:hover{
    color: #ffffff;
  }
  nav li{
    padding: 10px 10px 10px 10px;
  }
  .nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav_links #current-page{
    font-weight: bold;
    color: #545C42;
    background: #ffffff;
    border: 2px solid #545C42;
    border-radius: 30%;
  }
  /* H's and Paragraphs */
  h1{
    text-shadow: 5px 5px 2px #ffffff;
  }
  p{
    font-size: 20px;
  }
  /* Hover opacity effect for main content on all pages */
  .main:hover, .uk-main:hover, .pitt2017:hover, .pitt2018:hover, .contact-main:hover{
    border: 7px solid #ffffff;
  }
  /* Images for Home, England, and San Francisco pages */
  .home img,.sf img{
    width: 600px
  }
  /* Opacity effect for images on Pittsburgh page */
  .pitt-container img{
    border: 10px solid #ffffff;
    width: 250px;
  }
  /* Grid for Pittsburgh page */
  .pitt-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto;
    padding-bottom: 20px;
  }
  .pitt2017{
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .pitt2018{
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  .pitt-container img:nth-child(5){
    grid-column: 1;
    grid-row: 3;
  }
  .pitt-container img:nth-child(7){
    grid-column: 2;
    grid-row: 3;
  }
  .pitt-container img:nth-child(3){
    grid-column: 3;
    grid-row: 3;
  }
  .pitt-container img:nth-child(11){
   grid-column: 1;
    grid-row: 4;
  }
  .pitt-container img:nth-child(10){
    grid-column: 2;
    grid-row: 4;
  }
  .pitt-container img:nth-child(9){
    grid-column: 3;
    grid-row: 4;
  }
  .pitt-container img:nth-child(4){
    grid-column: 1;
    grid-row: 5;
  }
  .pitt-container img:nth-child(6){
    grid-column: 2;
    grid-row: 5;
  }
  .pitt-container img:nth-child(8){
    grid-column: 3;
    grid-row: 5;
  }
  /* Grid for England page */
  .england-container{
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
  .england-container img{
    padding: 20px;
    width: 350px;
  }
  .uk-main{
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .england-container img:nth-child(2){
    grid-column: 1;
    grid-row: 2;
  }
  .england-container img:nth-child(3){
    grid-column: 2;
    grid-row: 2;
  }
  .england-container img:nth-child(4){
    grid-column: 3;
    grid-row: 2;
  }
  /* "Grow" effect for logo on home page */
  /* Citation: https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
  #logo{
    width: 200px;
    transform: none;
  }
  #logo:hover{
    padding: 25px;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  /* Flip Card */
  .home-flip-front img{
    width: 350px;
    height: 350px;
  }
  .home-flip {
    width: 350px;
    height: 350px;
  }
  .home-flip-back {
    background-color: #f0f0f0;
    color: #2E2E2E;
  }
  /* Contact form page */
  form{
    width: 700px;
  }
  input{
    width: 600px;
  }

}
/* Reduced Motion */
@media screen and (prefers-reduced-motion: reduce){
  /* Remove bold from nav bar */
  nav a:hover{
    font-weight: unset;
  }
  /* Display "Skip to Main Content" */
  .skip a{
    -webkit-transition: none;
    transition: none;
  }
  /* Remove bold from links */
  a:hover{
    font-weight: unset;
  }
  /* Remove opacity effect from images on Pittsburgh page */
  .pitt-container img:hover{
    opacity: 1;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
  }
  /* Remove hover opacity effect on all pages */
  .main:hover, .uk-main:hover, .pitt2017:hover, .pitt2018:hover, .contact-main:hover{
    padding: 0px;
    opacity: 1;
    border: none;
    background: none;
  }
  /* Remove Logo animation */
  #logo{
    -webkit-animation: none;
    animation: none;
    transform: none;
  }
  #logo:hover{
    padding: 0px;
    -webkit-animation: none;
    animation: none;
    transform: none;
  }
  /* Remove Flip Card effect when hovering */
  .home-flip:hover .home-flip-inner{
    transform: none;
  }
  /* Remove additional motion effects */
  *{
    -webkit-animation: none;
    animation: none;
    animation-duration: 0s;
    -webkit-transition: none;
    transition: none;
    scroll-behavior: auto;
  }
}